body{
    background-image: linear-gradient(#ffff00,#ff0000);
    height:100%;
    
}
.circle{ 
    width:150px;
    height:150px;
    border-radius:50%;
    background-color: #000000;
    margin:0 auto;
}
.auto{
    margin:0 auto;
}
.btn{
    background-color: #0096ff;
    color:#ffe4c4;
    text-decoration:none;
    display: block;
    margin:0 auto;
    margin-bottom:25px;
    padding:10px 25px;
    width:70%;
    border-style:solid;
    border-color:#000000;
    border-width:2px 8px 8px 2px;
    border-radius: 12px;
    text-align:center;
    font-weight:bold;
    font-size:larger;

    
}
.center{
    text-align: center;
}
